.header {
    width: 100%;
    height: 150px;
    background-color: forestgreen;
}
.info {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}
.logo {
    background: url('logo.png');
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: left;
   margin-left: 10%;

}
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: lightpink;
    width: 80%;
    height: 80%;
    margin-right: 10%;
  }
.navbar a {
    color: grey;
    text-decoration: none;
    padding: 65px;
  }
.navbar a:hover {
    background: pink;
    color: grey;
    border-radius: 10px;
  }
.main {
    width: 100%;
    height: 600px;
    background-color: teal;
}
.grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(200px, auto);
        text-align: center;
}
.grid-item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.texto1 {
  font-size: 50px;
  font-weight: 500;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto2 {
  font-size: 40px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto3 {
  font-size: 25px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto4 {
    font-size: 15px;
    margin-top: 50px;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}
.email {
    width: 500px;
    color: grey;
    font-size: 20px;
    border: 3px solid pink;
    padding: 10px;
    margin-top: 200px;
    margin-left: 25%;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.catálogo {
    width: 100%;
    background-color: pink;

}
.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item3 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: pink;
}
.tiramisu {
    background: url('tiramisu.JPG');
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chaja {
    background: url('chaja.JPG');
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chocotorta {
    background: url('chocolinas.jpeg');
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*.texto-general {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto5 {
    font-size: 40px;
    color: grey;
  }
  .texto6 {
    font-size: 40px;
    color: grey;
  }
  .texto7 {
    font-size: 40px;
    color: grey;
  }*/
  .footer {
    width: 100%;
    height: 250px;
    background-color: pink;
  }
  .last-wrap {
    width: 100%;
    height: 250px;
    background-color: lightpink;
    display: flex;
    align-content: space-between;
    border-radius: 10px;
  }
  .facebook {
    width: 75px;
    height: 75px;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .instagram {
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    background: url('logo.png');
    width: 149px;
    height: 146px;
    background-size: contain;
    background-position: left;
    border: 2px solid pink;

}
  .info{
    width: 100%;
    font-size: 16px;
    background: pink;
  }

  .navbar{
    display: flex;
    flex-direction: row;
  }

  .navbar a {
    padding: 6px;
  }
  .main {
    background-color: green;
    height: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 34%;
  text-align: center;
}
.grid-item1 {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-color: pink;
    background-size: contain;
}
.texto1 {
font-size: 26px;
font-weight: 600;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto2 {
font-size: 20px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto3 {
font-size: 16px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto4 {
font-size: 12px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 600;
}
.email {
max-width: 80%;
color: grey;
font-size: 15px;
border: 1px solid pink;
padding: 10px;
margin: 0 auto;
background-color: whitesmoke;
border-radius: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.catálogo {
  height: 300px;
  background-color: pink;
}
.grid-item2 {
  display: none;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
  background-color: pink;
  background-size: contain;
  margin-right: 30%;
}
.image {
  background: url("ani.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  max-width: 300px;
  max-height: 360px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto auto;
}
.grid-item3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(180px, 190px);
    background-color: lightpink;
    background-size: contain;
    width: 80%;
    height: 80%;
    margin: auto auto;
    border-radius: 10px;
}
.tiramisu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: url('tiramisu.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.chaja {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: url('chaja.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.chocotorta {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: url('chocolinas.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.texto-general {
  display: flex;
  flex-flow: row;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 60px;
}
/*.texto5 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 16px;
  color: grey;
}
.texto6 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 16px;
  color: grey;
}
.texto7 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  font-size: 16px;
  color: grey;
  
}*/
.footer {
  width: 100%;
  height: 260px;
  background-color: pink;
}
.last-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
  background-color: lightpink;
  background-size: contain;
  border-radius: 10px;
  margin: auto auto;
}
.facebook {
  width: 60px;
  height: 60px;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto 0;

}
.instagram {
  width: 60px;
  height: 60px;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto 0;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px){
    .logo {
      background: url('logo.png');
      width: 149px;
      height: 146px;
      background-size: contain;
      background-position: left;
      border: 2px solid pink;
  
  }
    .info{
      width: 100%;
      font-size: 16px;
      background: pink;
    }
  
    .navbar{
      display: flex;
      flex-direction: row;
    }
  
    .navbar a {
      padding: 6px;
    }
    .main {
      background-color: beige;
      height: 600px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 34%;
    text-align: center;
  }
  .grid-item1 {
      grid-column: 1 / 6;
      grid-row: 1 / 4;
      background-color: pink;
      background-size: contain;
  }
  .texto1 {
  font-size: 26px;
  font-weight: 600;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .texto2 {
  font-size: 20px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .texto3 {
  font-size: 16px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .texto4 {
  font-size: 12px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  }
  .email {
  max-width: 80%;
  color: grey;
  font-size: 15px;
  border: 1px solid pink;
  padding: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .grid-item2 {
    display: none;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background-color: pink;
    background-size: contain;
    margin-right: 30%;
  }
  .image {
    background:url("ani.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    max-width: 300px;
    max-height: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto auto;
  }
  .catálogo {
    height: 300px;
    background-color: pink;
  }
  .grid-item3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(180px, 190px);
      background-color: lightpink;
      background-size: contain;
      width: 80%;
      height: 80%;
      margin: auto auto;
      border-radius: 10px;
  }
  .tiramisu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: url('tiramisu.JPG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .chaja {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url('chaja.JPG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .chocotorta {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url('chocolinas.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .texto-general {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
  }
  /*.texto5 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 16px;
    color: grey;
  }
  .texto6 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 16px;
    color: grey;
  }
  .texto7 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    font-size: 16px;
    color: grey;
    
  }*/
  .footer {
    width: 100%;
    height: 260px;
    background-color: pink;
  }
  .last-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
    background-color: lightpink;
    background-size: contain;
    border-radius: 10px;
    margin: auto auto;
  }
  .facebook {
    width: 60px;
    height: 60px;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto 0;
  
  }
  .instagram {
    width: 60px;
    height: 60px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto 0;
  }
  }
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .logo {
    background: url('logo.png');
    width: 148px;
    height: 146px;
    background-size: contain;
    background-position: left;
    border: 2px solid pink;

}
  .info{
    flex-direction: row;
    font-size: 25px;
    background: pink;
  }
  .navbar{
    display: flex;
    flex-direction: row;
  }
  .navbar a {
    padding: 20px;
  }
  .grid-item2 {
    display: none;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background-color: pink;
    background-size: contain;
    margin-right: 30%;
  }
  .image {
    background: url('ani.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    max-width: 300px;
    max-height: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto auto;
  }
  .catálogo {
    height: 300px;
    background-color: pink;
  }
  .grid-item3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(180px, 190px);
      background-color: lightpink;
      background-size: contain;
      width: 80%;
      height: 80%;
      margin: auto auto;
      border-radius: 10px;
  }
  .tiramisu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: url('tiramisu.JPG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .chaja {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url('chaja.JPG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .chocotorta {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url('chocolinas.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    width: 100%;
    height: 260px;
    background-color: pink;
  }
  .last-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
    background-color: lightpink;
    background-size: contain;
    border-radius: 10px;
    margin: auto auto;
  }
  .facebook {
    width: 70px;
    height: 70px;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto 0;
  
  }
  .instagram {
    width: 70px;
    height: 70px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto 0;
  }
}
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
.logo {
  background: url('logo.png');
  width: 148px;
  height: 146px;
  background-size: contain;
  background-position: left;
  border: 2px solid pink;

}
.info{
  flex-direction: row;
  font-size: 40px;
  background:pink;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.navbar a {
  padding: 20px;
}
.main {
  background-color: magenta;
  height: 600px;
}
.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
text-align: justify;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 34%;
  text-align: center;
}
.grid-item1 {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-color: pink;
    background-size: contain;
}
.texto1 {
font-size: 36px;
font-weight: 600;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto2 {
font-size: 30px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto3 {
font-size: 20px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto4 {
font-size: 16px;
color: grey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 600;
}
.email {
max-width: 80%;
color: grey;
font-size: 15px;
border: 1px solid pink;
padding: 10px;
margin: 0 auto;
background-color: whitesmoke;
border-radius: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.grid-item2 {
  display: none;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
  background-color: pink;
  background-size: contain;
  margin-right: 30%;
}
.image {
  background: url('ani.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  max-width: 300px;
  max-height: 360px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto auto;
}
.catálogo {
  height: 300px;
  background-color: pink;
}
.grid-item3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(180px, 180px);
    background-color: lightpink;
    background-size: contain;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.tiramisu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: url('tiramisu.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.chaja {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: url('chaja.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.chocotorta {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: url('chocolinas.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  width: 100%;
  height: 260px;
  background-color: pink;
}
.last-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
  background-color: lightpink;
  background-size: contain;
  border-radius: 10px;
  margin: auto auto;
}
.facebook {
  width: 70px;
  height: 70px;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto 0;
}
.instagram {
  width: 70px;
  height: 70px;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto 0;
}
}